In [2]:
#1. pandas series : A pandas series is like a column in a table. it is 1D array which holds data of any type
# here we will create a simple pandas series
import pandas as pd
x = [1,7,2]
x1 = pd.Series(x)
print(x1)

0    1
1    7
2    2
dtype: int64

In [6]:
# labeling - label can be use to access a specified value.
x = [1,2,3]
x1 = pd.Series(x)
print(x1[0])

1

In [7]:
# with create label you can create your own name labels:
x = [1,4,5]
x1 = pd.Series(x,index = ["x","y","z"])
print(x1)

x    1
y    4
z    5
dtype: int64

In [9]:
# labeling - label can be use to access a specified value.(After labeling own label)
x = [1,2,3]
x1 = pd.Series(x,index=["x","y","z"])
print(x1["x"])

1

In [10]:
# you can also use a key or value object like a dictionary, when creating a series
# here we will create a simple pandas series from a dictionary
cal = {"day1":410,"day2":"456"}
x = pd.Series(cal)
print(x)

day1    410
day2    456
dtype: object

In [12]:
# now we will create a series only data day1 and day2
cal = {"day1":234,"day2":345}
result = pd.Series(cal,index=["day1","day2"])
print(result)

day1    234
day2    345
dtype: int64

In [15]:
# DataFrame : datasets in pandas are usually multidimentional tables and they are called dataframe
# series are like columns and dataframe is the whole table
# we will now create a dataframe from 2 series
x = {"cal": [12,23,45], "duration":[29,23,89]}
x1 = pd.DataFrame(x)
print(x1)

   cal  duration
0   12        29
1   23        23
2   45        89

In [16]:
#2. DataFrame: It is a 2D data structure like 2D array with table including rows and columns
import pandas as pd
data = {"cal": [23,45,67,89], "dur":[23,45,67,89]}
data1 = pd.DataFrame(data)
print(data1)

   cal  dur
0   23   23
1   45   45
2   67   67
3   89   89

In [19]:
# locate row : pandas use the loc attribute to return one or more specified row
data = {"cal": [23,45,67,89], "dur":[23,45,67,89]}
data1 = pd.DataFrame(data)
print(data1.loc[0])

cal    23
dur    23
Name: 0, dtype: int64

In [20]:
# example of returning(output) row 0 and 1
data = {"cal": [23,45,67,89], "dur":[23,45,67,89]}
data1 = pd.DataFrame(data)
print(data1.loc[[0,1]])

   cal  dur
0   23   23
1   45   45

In [22]:
# named Index : with the index argument, you can name your own index
data = {"cal": [23,45,67,89], "dur":[23,45,67,89]}
data1 = pd.DataFrame(data, index=["day1","day2","day3","day4"])
print(data1)

      cal  dur
day1   23   23
day2   45   45
day3   67   67
day4   89   89

In [24]:
# locate the named index: output will display in series
data = {"cal": [23,45,67,89], "dur":[23,45,67,89]}
data1 = pd.DataFrame(data, index=["day1","day2","day3","day4"])
print(data1.loc["day2"])

cal    45
dur    45
Name: day2, dtype: int64

In [26]:
# output in a dataframe
data = {"cal": [23,45,67,89], "dur":[23,45,67,89]}
data1 = pd.DataFrame(data, index=["day1","day2","day3","day4"])
print(data1.loc[["day1","day2"]])

      cal  dur
day1   23   23
day2   45   45

In [ ]:
# load the data from the csv into dataframe i.e data.
fileload = pd.read_csv('data.csv')
print(fileload)

In [ ]:
#3. read csv files: (comma separated value(file)) it is a simple way to store the big and bigest data sets. csv files contains  plain text.
# loading the csv into a dataframe
df = pd.read_csv('data.csv')
print(df.to_string())

In [ ]:
# loading the csv into a dataframe
df = pd.read_csv('data.csv')
print(df.to_string())

In [ ]:
# max_rows : you can check your systems maximum rows with:
print(pd.options.display.max_rows)

In [ ]:
# yes, we can increase the maximum number of rows to display the entire dataframe
pd.options.display.max_rows = 9999
df = pd.read_csv('data.csv')
print(df)

In [ ]:
#4. JSON: Big data sets are normally stored and extracted as JSON. json is a plain text, but it has a fromat of an object.
# loading the JSON into a dataframe:
x = pd.read_json('data.json')
print(x.to_string())

In [29]:
# Dictionary as a JSON : if your json code is not in a file, but in a python dictionary, then you can do all below:
data = {
    "Duration":{
        "0":30,
        "1":20}
}
x = pd.DataFrame(data)
print(x)

   Duration
0        30
1        20

In [ ]:
#6. pandas viewing and analyzing dataframes
# viewing the data : one of the most used method for a quick overview of the dataframe is the head() method. this method returns the headers and a specified number of rows
# here we will print the 1st 10 rows in the dataframe.
x = pd.read_csv('data.csv')
print(x.head(10))

In [ ]:
x = pd.read_csv('data.csv')
print(x.tail(10))

In [ ]:
# what if you want the information about the data in the dataframe: via info()
df = pd.read_csv('data_csv')
print(df.info())

In [ ]:
#7. pandas cleaning data
# cleaning data : it means fixing the bad data in your data set. bad data could be : empty cell, data in a wrong format, duplicate data and wrong data
# empty cell: it will give you wrong resut always, we will have to remove the rows always that contain the bad data.
# loading and reading the original dataframe
x = pd.read_csv('data.csv')
print(x.to_string())

In [ ]:
# here we will return a new data frame with no empty cell
x = pd.read_csv('data.csv')
x1 = x.dropna()
print(x1.to_string())

In [ ]:
# if at any case you want to change the original dataframe, than use the inplace=True argument, it will remove the rows containing the NULL(NaN)values
x = pd.read_csv('data')
x.dropna(inplace=True)
print(x.to_string())

In [ ]:
# replacing the empty value: we will use the fillna() method which will allow us to replace the empty cell with a value
x = pd.read_csv('data')
x.fillna(130, inplace=True)
print(x.to_string())

In [ ]:
# To replace only the empty value for one column, you need to specify the column name.
x["calories"].fillna(130, inplace=True)
print(x.to_string())

In [ ]:
# here we can also replace the empty cell using mean(),median() or mode()
# calculate the mean and replace the empty values with it
x = new["Calories"].mean()
x["Calories"].fillna(x, inplace=True)
print(x.to_string())

In [ ]:
# calculate the median and replace any empty values in it
x = new["Calories"].median()
x["Calories"].fillna(x, inplace=True)
print(x.to_string())

In [ ]:
# calculate the mode and replace the empty cell with it.
x = new["Calories"].mode()[0]
x["Calories"].fillna(x, inplace=True)
print(x.to_string())

In [ ]:
#8. cleaning wrong format
# data in a wrong format: to fix this problem, there are 2 ways: removing the rows or convert all the cells in the same format
# now lets try to convert all the cells in the date column into dates. via to_datetime()
x["Date"] = pd.to_datetime(x['Date'])
print(x.to_string())

In [ ]:
# here now we will remove the rows with a null val in 'date' column
x['Date'] = pd.to_datetime(x['Date'])
x.dropna(subset=['Date']),inplace= True)
print(x.to_string())

In [ ]:
#9. pandas fixing wrong data
# wrong data : its only wrong data
# here we will set "duration" = 45 in row 7:
x.loc[7,'Duration'] = 45
print(x.to_string())

In [ ]:
# for larger dataset:now here we will loop through all the val in "Duration" column, if the val is higher than 120 than it set to 120
for i in x.index:
    if x.loc[i, "Duration"]>120:
        x.loc[i, "Duration"]=120
print(x.to_string)

In [ ]:
# you can also remove the rows for wrong data in larger dataset:
for i in x.index:
    if x.loc[i, "Duration"]>120:
        x.drop(i, inplace=True)
print(x.to_string())

In [ ]:
#10.Removing the duplicate value : first you need to discover the duplicate values via duplicate() method.
# returns true for every row that is duplicate otherwise return false:
print(x.duplicate())

In [ ]:
# removing the duplicate from the dataset via drop_duplicates()
x.drop_duplicates(inplace=True)
print(x.to_string())